<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Ubie Uzduotis!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset("bundles/framework/css/bootstrap.css") }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
<script src="{{ asset("bundles/framework/js/jquery-2.2.4.js") }}"></script>
<script src="{{ asset("bundles/framework/js/bootstrap.js") }}"></script>
<script src="{{ asset("bundles/framework/js/script.js") }}"></script>
</body>
</html>
